h1,h2{
    color:rgb(238, 233, 233);
    font-family:century Gothic;
    font-weight:100;
    font-size: 40px;
}
p{
    color:rgb(238, 239, 231);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.front{
    text-align:left;
}
.nav{
    text-decoration: none;
    color:rgb(124, 122, 122);
}
a{
    text-decoration:none;
}
a:hover{
    color:rgb(243, 234, 234);
}
a:link
{
    color:rgb(221, 215, 215);
}
li{
    color:rgb(0, 0, 0);
}
h5{
    color:rgb(243, 248, 248);
    font-weight:400;
}
